/* lib */
.ml-5{
    margin-left: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}

.management-text{
    font-size: 20px;
    color: #000;
}

/* トップページ */
.management-top-text{
    color:  #000 !important;
}

.management-top-text:hover{
    color:  #C8B181 !important;
}

/* スタッフ追加画面 */

header{
    width: 100%;
    height: 100px;
    background-color: #C8B181;
}

.management-title{
    text-align: center;
    font-size: 40px;
    color: #FFF;
    font-family: 'HGP行書体';
    line-height: 100px;
}

.main-title_wrap{
    width: 100%;
    border-bottom: 1px solid #000;
}

.main-title{
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
}
.page-title{
    font-size: 20px;
}
.loginPerson{
    font-size: 15px;
}

.form-wrap{
    width: 90%;
    margin: 50px auto 0;
    padding: 0 20px;
}

.form-content{
    margin-bottom: 20px;
}

.form-content label{
    font-size: 18px;
}

/* スタッフ一覧画面 */
.staff_list_item{
    margin-bottom: 10px;
}

/* スタッフ編集画面 */
.edit_form-wrap{
    margin-top: 50px;
}